body{
    background-color: #121010;
    color:#FFF ;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
}
h1{
    font-size: 60px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 0px;
}
.chapitre-un{
    font-size: 40px;
    border: 0.5px solid white;
    margin-top: 40px;
    margin-right: 50px;
    margin-bottom: 40px;
    margin-left: 1000px;
    padding: 0 10px;
    width: 200px;
    height: 50px;
    text-align: right;
}
.description-un{
    font-size: 20px;
    text-align: center justify;
    border: 0.5px solid white;
    margin-top: 40px;
    margin-right: 40px;
    margin-bottom: 40px;
    margin-left: 250px;
    padding-left: 10px;
    padding-right: 10px;
    width: 900px;
}
.chapitre-deux{
    font-size: 40px;
    border: 2px solid white;
    margin-left: 150px;
    margin-top: 0px;
    margin-right: 10px;
    margin-bottom: 40px;
    padding-bottom: 5px;
    padding-left: 5px;
    width: 250px;
}
.description-deux{
    font-size: 20px;
    text-align: right justify;
    border: 0.5px solid white;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 300px;
}
.citation-un{
    font-size: 40px;
    text-align: center;
    margin-left: 250px;
    margin-right: 100px;
    margin-bottom: 0px;
    padding: 10px;

}
.chapitre-trois{
    font-size: 40px;
    border: 2px solid white;
    margin-top: 40px;
    margin-right: 50px;
    margin-bottom: 0px;
    margin-left: 1000px;
    padding: 0 10px;
    width: 200px;
    height: 50px;
    text-align: right;
}
.description-trois{
    font-size: 20px;
    text-align: center justify;
    border: 1px solid white;
    margin-top: 20px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 80px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 170px;
    
}
.chapitre-quatre{
    font-size: 60px;
    border: auto;
    margin-top: 40px;
    margin-right: 0px;
    margin-left: 800px;
    margin-bottom: 20px;
    
}
h3{
    font-size: 60px;
    text-align: center;
    width: 255px;
    margin-left: 120px;
    margin-top: 0px;

}
.description-quatre{
    font-size: 20px;
    text-align: center justify;
    border: 1px solid white;
    margin-top: 40px;
    margin-right: 40px;
    margin-bottom: 40px;
    margin-left: 200px;
    padding-left: 10px;
    padding-right: 10px;
    width: 300px;
}
.citation-deux{
    font-size: 60px;
    text-align: center;
    width: 200px;
    height: 500px;
    margin-top: 75px;
    margin-left: 70px;
    margin-right: 5px;
    padding-right: 5px;
    
}
.description-cinq{
    font-size: 30px;
    text-align: center justify;
    border: 0.5px solid white;
    margin-top: 300px;
    margin-bottom: 40px;
    margin-left: 100px;
    margin-right: 0px;
    width: 410px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    
   
}
.row{
    display: flex;
}
.col{
    flex:1;
    padding:1em;
}
img{
    max-width: 400px;
    height: auto;
}
.citation-trois{
    font-size: 50px;
    border: solid 1px white;
    text-align: center;
    width: 800px;
    margin-top: 70px;
    margin-left: 300px;
    margin-right: 5px;
    margin-bottom: 100px;
    padding-right: 5px;

}
.un{
    font-size: 40px;
    margin-bottom: -10px;
    padding-bottom: 0px;
}
/*nav bar footer*/
.navbar{
    background-color: black;
    position:absolute relative;
    bottom: 0;
    width: 100%;
    padding-left: 400px;
}
.navbar a{
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.navbar a:hover {
    background-color: #ddd;
    color: black;
}
.navbar a.active {
    background-color: grey;
    color: white;
  }
  /* Logo*/
.logo{
    width: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
img.cerveau{
    max-width: 800px;
    height: auto;
    display: block;
    margin-left: 330px;
    margin-right: 500px;
}
/*Image processeur*/
.ril{
    display: flex;
}
.cil{
    flex:1;
    padding:1em;
}
.processeur{
    max-width: 700px;
    margin-top: -40px;
}
.flotte{
    float: right;
}
.fille{
   max-width: 750px;
   height: auto;
    margin-top: -150px;
    margin-left: 60px;
    margin-right: 100px;
    margin-bottom: 10px;
    text-align: center;
}
.essai{
    margin-top: 200px;
    margin-left: 10px;
    margin-right: 0px;
}
.try{
    float: right;
}
.bebe{
    margin-top: -120px;
    margin-right: 200px;
    margin-left: 100px;
    margin-bottom: 100px;
    max-width: 900px;
    height: auto;
}
